body {
  color: #333333;
}
a {
  display: inline-block;
}
header {
  background-color: #333333;
}
header a {
  display: inline-block;
  margin: 2em 10em;
}
#dashboard {
  width: 100%;
}
#dashboard .container {
  text-align: center;
  padding: 6em;
}
#dashboard .container .figure,
#dashboard .container .caption {
  color: #2ad2c9;
}
#dashboard .container .figure {
  font-size: 5em;
  font-weight: bold;
}
#dashboard .container .caption {
  font-size: 1.5em;
}
#dashboard #cars {
  display: flex;
}
#dashboard #cars .container {
  width: 50%;
}
footer {
  padding: 2em 10em;
  display: flex;
  background-color: #617d78;
}
footer div {
  width: 33.33333%;
  background-color: #617d78;
  text-align: center;
  border-right: 1px solid #ffffff;
}
footer div:last-of-type {
  border-right: 0 none;
}
footer div,
footer div a,
footer div:hover,
footer div a:hover,
footer div:visited,
footer div a:visited {
  color: #ffffff;
}
footer div a {
  font-size: 2em;
}
