body {
  color: #333333;
  font-family: 'Verdana', 'Arial', sans-serif;
}
a {
  display: inline-block;
}
header {
  background-color: #333333;
}
header a {
  display: inline-block;
  margin: 2em 10em;
}
.dashboard {
  width: 100%;
}
.container {
  text-align: center;
  padding: 6em;
}
.container .figure,
.container .caption {
  color: #2AD2C9;
}
.container .figure {
  font-size: 5em;
  font-weight: bold;
}
.container .caption {
  font-size: 1.5em;
}
.cars {
  display: flex;
}
.cars .container {
  width: 50%;
}
.employees {
  text-align: center;
  position: relative;
}
.employees .container {
  display: inline-block;
  padding: 6em 0;
  width: auto;
}
.employees .container:before,
.employees .container:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
}
.employees .container:before {
  border-width: 15em 0 0 15em;
  border-color: transparent transparent transparent #617D78;
  left: 0;
}
.employees .container:after {
  right: 0;
  border-width: 0 0 15em 15em;
  border-color: transparent transparent #617D78 transparent;
}
footer {
  position: static;
  left: 0;
  bottom: 0;
  padding: 2em 10em;
  display: flex;
  background-color: #617D78;
}
footer .external-link {
  width: 33.33333%;
  background-color: #617D78;
  text-align: center;
  border-right: 1px solid #fff;
  padding: 0 3em;
}
footer .external-link:last-of-type {
  border-right: 0 none;
}
footer .external-link,
footer .external-link a {
  color: #fff;
}
footer .external-link a {
  font-size: 2em;
}
footer .external-link .link_desc {
  padding-top: 1em;
}
