header {
  background-color: #333333;
}
header a {
  display: inline-block;
  margin: 2em 10em;
}
#dashboard {
  width: 100%;
}
#dashboard .container {
  text-align: center;
}
#dashboard #cars {
  display: flex;
}
#dashboard #cars .container {
  width: 50%;
}
footer {
  display: flex;
}
footer div {
  width: 33.33333%;
}
