@import "lib.less";
body {
	color: @Black;
}

a {
	display: inline-block;
}

header {
	background-color: @Black;
	a {
		display: inline-block;
		margin: @MainPagePadding;
	}
}

#dashboard {
	width: 100%;
	.container {
		text-align: center;
		padding: 6em;
		.figure, .caption {
			color: @Turquoise;
		}
		.figure {
			font-size: 5em;
			font-weight: bold;
		}
		.caption{
			font-size: 1.5em;
		}
	}
	#cars {
		display: flex;
		.container {
			width: 50%;
		}
	}
}

footer {
	position: static;
	left: 0;
	bottom: 0;
	padding: @MainPagePadding;
	display: flex;
	background-color: @DarkSteel;
	div {
		width: 33.33333%;
		background-color: @DarkSteel;
		text-align: center;
		border-right: 1px solid @White;
		padding: 0 3em;
		&:last-of-type {
			border-right: 0 none;
		}
		&,a {
			&,&:hover, &:visited {
				color: @White;
			}
		}
		a {
			font-size: 2em;
		}
		.link_desc {
			padding-top: 1em;
		}
	}
}